@import url('./tailwind.css');
@import './hljs-github-dark.css';

@font-face {
  font-family: 'Gellix';
  src: url('https://fonts.raydiant.com/Gellix-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gellix';
  src: url('https://fonts.raydiant.com/Gellix-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gellix';
  src: url('https://fonts.raydiant.com/Gellix-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@layer base {
  body {
    @apply h-full bg-white text-slate-500 antialiased dark:bg-zinc-950 dark:text-slate-400;
  }

  code {
    @apply rounded bg-zinc-200 py-0.5 px-1 text-sm dark:bg-zinc-800;
  }

  .prose code.hljs {
    @apply bg-transparent;
  }

  .prose a code {
    @apply dark:text-sky-400 !important;
  }

  .prose pre {
    @apply rounded-lg border border-transparent dark:border-zinc-900 dark:bg-black;
  }

  @media (min-width: 1024px) {
    .docs.prose pre {
      max-width: calc(100vw - 520px);
    }
    .blog.prose pre {
      max-width: calc(100vw - 352px);
    }
  }

  @media (min-width: 1280px) {
    .blog.prose pre {
      max-width: calc(100vw - 672px);
    }
  }

  @media (min-width: 1440px) {
    .docs.prose pre {
      max-width: calc(100vw - 840px);
    }
  }

  @media (min-width: 1536px) {
    .docs.prose pre {
      max-width: 707px;
    }
    .blog.prose pre {
      max-width: 832px;
    }
  }

  svg path {
    fill: currentColor;
  }

  .scroll-padding {
    scroll-padding-top: 150px;
  }
}

.MuiSvgIcon-root {
  font-size: 1.25rem !important;
}

.dark .img-light {
  display: none;
}

.img-dark {
  display: none;
}

.dark .img-dark {
  display: block;
}
